/* Basic Layout */

#dhtmllicense{
width: 100%;
background-color: #e4eba0;
}

#input{
float: left;
width: 49%;
padding: 1%;
padding-right: 0;
background-color: #fff;
position: relative;
font-family: "Lucida Grande", verdana, sans-serif;
font-style: normal;
font-weight: normal;
line-height: 75%;
margin-bottom: 0;
}

#output{
position: relative;
float: right;
width: 44%;
margin-top: 1%;
margin-right: 3%;
background-color: #e4eba0;
}

/* INPUT */
.step{
	line-height: .5em;
	border: 1px solid #a7a9ac;
	padding: .5em 1em .5em 1em;
	margin: 1%;
	width: 87%;
}

#input h2{
font-size: 1em;
font-family: "Georgia", serif;
margin: 1%;
}

#step1 {
position: relative;
}

#step2{
position: relative;
float: left;
}

/* STEP ONE */

.choose {
	padding-top:1px;
	clear="all";
	height: 30px;
	line-height: 1em;
}

.choose2{
	padding-top:1px;
	clear="all";
	height: 20px;
	line-height: 1em;
}

.choose-btn {
width: 20px;
float: left;
position: relative;
}

.choose-btn input {
margin: 7px 0px 0 0px;
} 

.choose-icon {
position: relative;
float: left;
width: 30px;
margin-left: 15px;
}

.choose-icon img {
width: 30px;
}

.choose-txt {
	position: relative;
	margin-left: 80px;
	margin-top: 10px;
}

.choose-txt strong, .choose-txt label{
font-size: .9em;
}

.choose-txt .option_on {
	color: #333;
}

.choose-txt .option_off {
	color: #999;
}

.choose2 select{
	width: 150px;
}

.choose-dropdown{
	position: relative;
	float: left;
}

.choose-dropdown-txt{
	position: relative;
	margin-left: 170px;
}

.choose-dropdown-txt label, .choose-dropdown-txt strong{
	font-size: .9em;
}

#nc-ad {
	display: none;
}



.step img{
width: 30px;
height: 30px;
}

/* STEP 2 */

.optional{
	padding-top:1px;
	clear="all";
	height: 2em;
	line-height: 1em;
}

.optional-name{
	position: relative;
	float: left;
	width: 10em;
}

.optional-content{
	clear: right;
	float: left;
	width: 15em;
}

.optional-content input
{
    width: 100%;
    border: 1px solid gray;
} 

/* OUTPUT */

.info{
	padding-bottom: 1%;
}
.info-txt{
	float: left;
	margin-right: 1%;
}

.info-icon{
	float: left;
	background: white;
	width: 54px;
	border: 1px solid gray;
	padding: 1px;
	margin: 2px; 
}

img.icon {
width: 25px;
height: 25px;
float: left;
padding: 1px;
}

.info-options{
	font-size: .8em;
}

.info{
	clear: right;
}


input.info-input{
	background-color: #ccc;
}

.info-input{
	padding-left: 10%;
}

.info-txtarea{
	padding-left: 10%;
}

.info-txtarea textarea{
	width: 100%;
	border: 1px solid gray;
	background: #ccc;
}


#licensename h1, a{
font-size: 1em;
text-align: center;
}

.info-input input{
	clear: right;
	width: 100%;
	border: 1px solid gray;
	background: #ccc;
}

#license_example{
	float: left;
	clear: left;
	padding-left: 10%;
	width: 40%;
	height: 4.5em;
	background-color: white;
	border: 1px solid gray;
}

#codetype {
	float: right;
	font-size: .75em;
	clear: right;
}

.menu-txt{
	float: left;
	font-size: .9em;
	margin-right: .5em;
}

#preview{
	text-align: center;
	font-size: .8em;
	background-color: white;
	padding: 1%;
	margin-bottom: 1%;
	border: 1px solid gray;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.jurisdictions{
	float: left;
}

#videobumper img{
	float: left;
	margin-right: 5%;
	margin-bottom: 2%;
	border-style: none;
}


.markingtext{
	float: left;
}



.outputheading h2{
	font-size: .9em;
	margin: 1% 0 1% 0;
}

.marking-txt {
	font-size: .9em;
	text-align: justify;
}

#learnmore {
	text-align: center;
	font-size: .9em;
}
